body {
    background-color: black;
    color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

.userInput {
    padding: 0.3rem;
}

.add, .ok, .reset {
    cursor: pointer;
}

.hidden {
    display: none;
}
